@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url(/wb/fonts/thin.otf);
    weight: light;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(/wb/fonts/light.otf);
    weight: light;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(/wb/fonts/medium.otf);
    weight: medium;
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.document-loaded {
    opacity: 1 !important;
}

body{
    font-family: ;
}

.navbar {
    z-index: 1;
    -webkit-backdrop-filter: saturate(100%) blur(150px);
    backdrop-filter: saturate(100%) blur(150px);
    background-color: rgba(0, 0, 0, 0.076);
    background-image: url(/wb/web/noise.webp);
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.364);
}
.panel-left {
    height: 100vh;
}
.panel-right {
    height: 100vh;
    border-left: 0.3px solid rgba(255, 255, 255, 0.364);
}
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.border-bottom{
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.364);
}
.panel-left-gallery {
    border-right: 0.3px solid rgba(255, 255, 255, 0.364);
    flex: 3;
}
.panel-right-gallery {
    flex: 1;
}

.gallery-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1; /* Ensure the buttons are above the image */
}

.gallery-controls.left {
    left: 0;
}

.gallery-controls.right {
    right: 0;
}

.gallery-controls img {
    width: 10px;
    height: 10px;
    margin: auto;
    display: block;
    transform: translateY(-50%);
}
