@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url(/wb/fonts/thin/thin.woff) format("woff"),
         url(/wb/fonts/thin/thin.woff2) format("woff2");
    weight: thin;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(/wb/fonts/light/light.woff) format("woff"),
         url(/wb/fonts/light/light.woff2) format("woff2");
    weight: light;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(/wb/fonts/medium/medium.woff) format("woff"),
         url(/wb/fonts/medium/medium.woff2) format("woff2");
    weight: medium;
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.document-loaded {
    opacity: 1 !important;
}

.navbar {
    z-index: 1;
    -webkit-backdrop-filter: saturate(100%) blur(150px);
    backdrop-filter: saturate(100%) blur(150px);
    background-color: rgba(0, 0, 0, 0.076);
    background-image: url(/wb/nav/noise.webp);
    border-bottom: thin solid rgba(255, 255, 255, 0.364);
}

.panel-left {
    height: 15dvh;
}

.panel-right {
    height: 75dvh;
}

@media (max-height: 1300px){
    .panel-left{
        height: 50dvh;
    }
    .panel-right{
        height: 50dvh;
        border-left: none;
    }
}

@media (min-width: 1024px) {
    .panel-left {
        height: 100dvh;
    }
    .panel-right {
        height: 100dvh;
        border-left: thin solid rgba(255, 255, 255, 0.196);
    }
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.border-bottom {
    border-bottom: thin solid rgba(255, 255, 255, 0.196);
}

.border-top {
    border-top: thin solid rgba(255, 255, 255, 0.196);
}

#mobile-menu {
    position: absolute;
    top: 72px;
    left: 0;
    background-color: #000;
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.364);
    z-index: 1000;
    width: 100%;
}

.navbar.black-bg {
    background-color: #000;
}

.panel-right-gallery {
    flex: 1;
}

.panel-left-gallery {
    position: relative;
    overflow: hidden;
    border-right: thin solid rgba(255, 255, 255, 0.196);
    flex: 3;
}

@media (max-width: 768px){
    .panel-left-gallery {
        border: none;
        flex: 9;
    }
}

.gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.gallery-image.fade-in {
    opacity: 1;
}

.gallery-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 768px){
    .gallery-controls {
        top: 55%;
    }
}

.gallery-controls.left {
    left: 0;
    background-color: transparent;
}

.gallery-controls.right {
    right: 0;
    background-color: transparent;
}

.gallery-controls img {
    width: 15px;
    height: 15px;
    margin: auto;
    display: block;
    transform: translateY(-50%);
}

.folder-submenu {
    display: none;
    padding-left: 20px;
}

.folder-submenu.active {
    display: block;
}

.folder-submenu .sidebar-button {
    margin-bottom: 5px;
}

.arrow-icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .panel-left-gallery {
        position: relative;
    }

    #gallery-list {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        border-top: thin solid rgba(255, 255, 255, 0.196);
        width: 100%;
        z-index: 1;
        transform: translateY(-100%);
    }

    #gallery-list.active {
        transform: translateY(0);
    }
}
